.AboutMe {
    background-color: white;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
}

.about-me-header {
    flex-direction: row;
    color: #2b7682;
    width: 100%;
}

.Photo {
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.Paragraph {
    flex-direction: row;
    height: 500px;
    width: 500px;
    line-height: 2em;
}
