.ContactMe {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.contact-me-header {
    flex-direction: row;
    color: #2b7682;
    width: 100%;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.contact-info {
    border: 2px solid #2b7682;
    color: #2b7682;;
    border-radius: 4px;
    height: 200px;
    width: 500px;
    padding: 10px;
    margin-left: 40px;
    line-height: 2.5em;
}

.contact-info a {
    color: #2b7682;
    text-decoration: none;
}

.contact-info a:hover {
    color: #11ABC1;
}


