.Footer {
    background-color: #11ABC1;
    color: white;
    display: flex;
    flex-direction: row;
    height: 80px;
    padding-top: 20px;
}

.Footer a {
    text-decoration: none;
    margin-left: 40px;
    padding-top: 10px;
    color: white;
}

.Footer a:hover {
    color: #2b7682;
    border: solid 2px #2b7682;
    border-radius: 12px;
    margin-left: 40px;
    padding: 5px;
}