.Portfolio {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.Portfolio .project-wrapper {
    display: inline-block;
    border: solid 2px #11ABC1;
    margin: 40px;
    height: 400px;
    width: 400px;
}
