.Portfolio {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
}

.projects {
    height: 400px;
    width: 400px;
    border: solid 2px blue;
    padding: 10px;
    margin: 40px;
}

