.Project {
    height: 400px;
    width: 400px;
    position: relative;
}

.Project img {
    width: 400px;
    hieght:;
} 

.Project .pop-up {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}