.Project {
    height: 400px;
    width: 400px;
    position: relative;
}

.Project img {
    width: 400px;
    height: 400px;
} 

.Project .pop-up {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 400px;
    height: 400px;
    padding-top: 170px;
}

.Project .pop-up button {
    background-color: blue;
    margin-bottom: 5px;
    padding: 10px;
}